{% extends "base.html" %}
{% block title %}FPL Wrapped H2H{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Expected Rank</th>
                <th>H2H Points</th>
                <th>Classic Points</th>
                <th>Chips Played</th>
                <th>World Ranking</th>
                <th>Best Gameweek Rank</th>
                <th>Best Previous Season</th>
                <th>Most Points on Bench</th>
                <th>Most Transfers</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.h2h_rank }}</td>
                <td>{{ row.expected_rank }}</td>
                <td>{{ row.h2h_points }}</td>
                <td>{{ row.points }}</td>
                <td>{{ row.chips_played }}</td>
                <td>{{ row.current_overall_rank }}</td>
                <td>{{ row.best_gameweek_rank }}</td>
                <td>{{ row.best_previous_season }}</td>
                <td>{{ row.most_points_on_bench }}</td>
                <td>{{ row.most_transfers }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}