{% extends "base.html" %}
{% block title %}FPL Wrapped{% endblock %}
{% block content %}
<div class="container mt-3">
    <h1 class="display-3">FPL Wrapped</h1>
    <p>Enter your full name below as you have it on your fantasy premier league account (case sensitive) and we will
        find your account, so you can see your stats for the season!

    </p>
</div>
<div class="container mt-3">
    <form method="post">
        <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter full name e.g. John Smith">
            <small id="help_text" class="form-text text-muted">Case sensitive</small>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<div class="container mt-3">
    {% for manager in managers %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ manager.team_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ manager.name }}</h6>
            <a href="/manager/{{ manager.manager_id }}" class="badge badge-info">See fpl wrapped</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}